.header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  background-color: #3f51b5;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  padding: 2px 8px;
}

.inputWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchIcon {
  margin-right: 10px;
  color: #757575;
  flex-shrink: 0;
}

.input {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 8px 0;
}

.input::placeholder {
  color: #757575;
}

.button {
  background: none;
  border: none;
  color: #3f51b5;
  font-weight: 600;
  padding: 8px 12px;
  cursor: pointer;
  transition: opacity 250ms;
}

.button:hover {
  opacity: 0.8;
}