.gallery {
    display: grid;
    max-width: 1440px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0 24px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.item {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
    transform: scale(1.02);
    cursor: zoom-in;
}